h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: Helvetica;
  background-color: white;
  position: relative;
}
h2 {
  font-size: 100px;
  font-weight: bold;
  font-family: Helvetica;
  background-color: white;
  position: relative;
}
footer {
  color: green;
  background=color: white;
  position: relative;
  z-index: 2;
}
.portfolio {
  color: green;
  position: relative;
  z-index: 2;
}
.about-me {
  color: green;
  position: relative;
  z-index: 2;
}
.intro {
  color: green;
  position: relative;
  z-index: 2;
}
#background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: 1;
}
p {
  font-size: 32px;
  background-color: white;
  color: green;
}
#cat-pic {
  min-height: 100px;
  min-width: 100px;
  height: 150px;
  width: 150px;
  position: relative;
}
#mewifkid {
  min-height: 100px;
  min-width: 100px;
  height: 150px;
  width: 150px;
  position: relative;
}
#meshaw {
  min-height: 100px;
  min-width: 100px;
  height: 150px;
  width: 150px;
  position: relative;
}
#kidwif {
  min-height: 100px;
  min-width: 100px;
  height: 150px;
  width: 150px;
  position: relative;
}
#weldgif {
  min-height: 100px;
  min-width: 100px;
  height: 150px;
  width: 150px;
  position: relative;
}
#meconstructpic {
  min-height: 100px;
  min-width: 100px;
  height: 150px;
  width: 150px;
  position: relative;
}
