h1 {
  font-size: 100px;
  
  font-weight: 40px;
  
  font-family: Helvetica;
}
h2 {
  font-size: 100px;
  
  font-weight: 40px;
  
  font-family: Helvetica;
}
.portfolio {
  font-color: gray;
  
  padding: 25px 25px;
  
}
.about-me {
  font-color: gray;
  
  padding: 25px 25px;
  
}
.intro {
  font-color: gray;
    
  padding: 25px 25px;
  
}
html {
  background-image: url ("https://raw.githubusercontent.com/ThatGuyKen777/ThatGuyKen777.github.io/main/matrix-3109378__340-background.jpeg") no repeat center center fixed
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
    
  
  
  
}
p {
  font-size: 24px
}
.cat-pic {
  height: 25%;
  width: 25%;
}
.mewifkid {
  height: 25%;
  width: 25%;
}
.meshaw {
  height: 25%;
  width: 25%;
}
.kidwif {
  height: 25%;
  width: 25%;
}
